@using System.Web.Mvc.Html
@using Sitecore.Links
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var currentPage = RenderingContext.Current.ContextItem;
    var database = currentPage.Database;
    var featuredEvent = currentPage.Fields["Featured-Event"];
    //if (featuredEvent != null)
    //{
    //    var featuredEventPage = database.GetItem(featuredEvent.ToString());
    //}
}

<section class="section section-full">
    <!-- [Featured Events] -->
    <div class="container">
        <div class="row">
            @Html.Sitecore().Placeholder("featuredEvents")
        </div>
    </div>
    <!-- [/Featured Events] -->

    <div class="container">
        <div class="row">
            <!-- [Set Featured Event] -->
            @if (featuredEvent != null)
            {
                var featuredEventPage = database.GetItem(featuredEvent.ToString());
                if (featuredEventPage != null)
                {
                    var pageLink = LinkManager.GetItemUrl(featuredEventPage);
                    <div class="col-md-8">
                        <div class="thumbnail">
                            @if (!string.IsNullOrWhiteSpace(featuredEventPage.Fields["Event-Image"].ToString()))
                            {
                                <a href="@pageLink">
                                    @Html.Sitecore().Field("Event-Image", featuredEventPage, new { mw = 500, mh = 330, @class = "img-responsive" })
                                </a>
                            }
                            <div class="caption">
                                <h3>
                                    @featuredEventPage.DisplayName
                                </h3>
                                @if (!string.IsNullOrWhiteSpace(featuredEventPage.Fields["Content-Body"].ToString()))
                                {
                                    @Html.Sitecore().Field("Content-Body", featuredEventPage)
                                }
                                <a href="@pageLink" class="btn btn-default">
                                    Read more
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            <!-- [/Set Featured Event] -->
            <!-- [Upcoming Events List] -->
            <div class="col-md-4">
                @Html.Action("GetUpcomingEvents", "EventsList")
            </div>
            <!-- [/Upcoming Events List] -->

        </div>
    </div>

</section>
