@model events.tac.local.Models.PageHeaderModel

@if (Model.HomePageUrl != null)
{

    <header class="header-static">
        <nav class="navbar navbar-default navbar-static" id="mainNavbar">
            <div class="container">
                @if (!string.IsNullOrWhiteSpace(Model.LogoImage.ToHtmlString()))
                {
                    <!-- [Company Logo] -->
                    <div class="navbar-left">
                        <a class="navbar-brand" href="@Model.HomePageUrl">
                            <span class="logo">
                                @Model.LogoImage
                            </span>
                        </a>
                    </div>
                    <!-- [/Company Logo] -->
                }


                @if (Model.MenuItems.Count > 0)
                {
                    <!-- [Main Navigation] -->
                    <div class="navbar-left">
                        <div class="collapse navbar-collapse" id="siteNavbar">
                            <ul class="nav navbar-nav">
                                @foreach (var menuItem in Model.MenuItems)
                                {
                                    if (menuItem.Children.Count == 0)
                                    {
                                        <li>
                                            <a class="text-uppercase" href="@menuItem.Url">
                                                @menuItem.Title
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="dropdown">
                                            <a href="@menuItem.Url" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true"
                                               aria-expanded="false">
                                                @menuItem.Title
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                @foreach (var childItem in menuItem.Children)
                                                {
                                                    <li>
                                                        <a href="@childItem.Url">
                                                            @childItem.Title
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                    <!-- [/Main Navigation] -->
                }
                
                @if (Model.Languages.Count > 0 && !string.IsNullOrWhiteSpace(Model.CurrentLanguage.TwoLetterCode))
                {
                    <!-- [Language Navigation] -->
                    <div class="navbar-right">
                        <div class="navbar-activity">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @foreach (var language in Model.Languages)
                                        {
                                            var cssClass = language.TwoLetterCode == Model.CurrentLanguage.TwoLetterCode ? "active" : "";
                                            <li class="@cssClass">
                                                <a href="@language.Url" onclick="return switchToLanguage('@language.Name', '@(Model.CurrentLanguage.Name)', '@language.Url')">
                                                    @language.NativeName
                                                </a>
                                            </li>
                                        }
                                        @*<li class="active"><a href="#">English</a></li>
                                        <li><a href="#">Deutsch (Deutschland)</a></li>
                                        <li><a href="#">日本語 (日本)</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- [/Language Navigation] -->
                }
                
            </div>
        </nav>
    </header>
}
